<html>
   <body>
      <h1>File Upload</h1>
      
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <h3>SynBioHub</h3>
         <label for="username1">Username</label><br>
         <input type="text" id="sbhusername" name="sbhusername"><br>
         <label for="pwd1">Password</label><br>
         <input type="password" id="sbhpwd" name="sbhpwd"><br>
         <br>
         <h3>Flapjack</h3>
         <label for="username2">Username</label><br>
         <input type="text" id="fjusername" name="fjusername"><br>
         <label for="pwd2">Password</label><br>
         <input type="password" id="fjpwd" name="fjpwd"><br>
         <br>
         <h3>Excel File</h3>
         <input type = "file" name = "file" /><br>
         <br>
         <input type = "submit"/><br>
      </form>  
   </body>
</html>




