<html>
   <body>
      <h1>File Upload</h1>
      <p>Select an Excel File to upload</p>
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" /><br>
         <p></p>
         <label for="username1"> SynBioHub Username</label><br>
         <input type="text" id="sbhusername" name="sbhusername"><br>
         <label for="pwd1">SynBioHub Password</label><br>
         <input type="password" id="sbhpwd" name="sbhpwd"><br>
         <br>
         <label for="username2"> Flapjack Username</label><br>
         <input type="text" id="fjusername" name="fjusername"><br>
         <label for="pwd2">Flapjack Password:</label><br>
         <input type="password" id="fjpwd" name="fjpwd"><br>
         <p></p>
         <input type = "submit"/><br>
      </form>  
   </body>
</html>




